body {
  background-color: #2e2e35;
}
#home {
  align-items: center;
}
#button {
  color: #ffb868;
  border-radius: 1rem;
}
#button:hover {
  color: black;
  background-color: #ffb868;
}
#abv-txt {
  color: #ffb868;
}
#txt {
  font-size: 1.5rem;
}


/* Styling the floating semi-rectangle */
.floating-button {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 50px;
  height: 100px;
  background-color: #ffb868;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: width 0.3s ease;
  z-index: 9999;
}

/* On hover, expand the button and show text */
.floating-button:hover {
  width: 250px;
}

/* Camera icon */
.floating-button i {
  font-size: 24px;
  transition: transform 0.3s ease;
}

/* Text hidden initially */
.floating-button span {
  display: none;
  margin-left: 10px;
  margin-right: 2px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

/* Show text and rotate icon on hover */
.floating-button:hover i {
  transform: rotate(360deg);
}

.floating-button:hover span {
  display: inline-block;
}