body {
  background-color: #2e2e35;
}
#home {
  align-items: center;
}
#button {
  color: #ffb868;
  border-radius: 1rem;
}
#button:hover {
  color: black;
  background-color: #ffb868;
}
#abv-txt {
  color: #ffb868;
}
#txt {
  font-size: 1.5rem;
}
